@page "/"
<h3 style="text-align:center">Welcome</h3>
<div style="text-align:center"> Design beam section</div><hr/>
<div style="text-align:center"> Provide column interaction chart</div> <hr/>
<div style="text-align:center">  Design isolated footing and combined footing</div><hr/>